// Main page areas below hero
.area {
  padding-bottom: 3rem;

  // all areas top icon
  &__icon {
    background-color: $color-alt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    width: 5rem;
    height: 5rem;
    margin: 0px auto;
  }

  // all areas content
  &__heading {
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 1.25em;
    text-align: center;
  }

  &__subheading {
    font-size: 1.1rem;
    line-height: 1.25em;
    text-align: center;
  }

  &__price {
    font-size: 2.75rem;
    color: $color-alt;
    font-weight: bold;
    text-align: center;
  }

  // User area with balance cards
  &--user {

    .area__icon {
      background-image: url("../img/icon-user-conf.png");
      background-size: 2em 2em;
    }
  }

  // Cafeteria options area with cards
  &--options {
    border-top: 4px solid $color-alt;

    .area__icon {
      background-image: url("../img/icon-list.png");
      background-size: 2em 2em;
    }
  }

  // Rewards categories area with cards
  &--categories {

    .area__icon {
      display: none;
    }
  }

  &--grey {
    background: $color-light;
  }
}
