.balance-card {
  border: 2px $color-medium solid;
  border-radius: 3px;
  padding: 3rem 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  height: 100%;

  &__title {
    flex: 1 1 auto;
    max-width: 30%;
    color: $color-alt;
    width: 6rem;
    text-align: left;
  }

  &__value {
    flex: 1 1 auto;
    color: $color-alt;
    padding-left: 0.5rem;
    font-weight: bold;
    text-align: right;
    font-size: 1.75rem; /* 28px */
    @include mediaLgUp {
      font-size: 2.25rem; /* 36px */
    }
    @include mediaHgUp {
      font-size: 2.75rem; /* 44px */
    }
    transition: font-size $time-slow ease-in;
  }

  &__exp-date {
    flex: 0 0 100%;
    text-align: right;
    margin-top: 1rem;
  }

  &--insurance {
    background: url("../img/human.png") no-repeat 95% bottom;
  }

  &--travel {
    background: url("../img/aircraft.png") no-repeat 95% bottom;
  }

  &--meals {
    background: url("../img/vouchers-full.png") no-repeat right bottom;
  }
}
