// All buttons, size dependent on container by default (otherwise use specified modifier), background inherited by default (otherwise defined by modifier)
.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  white-space: nowrap;
  background: inherit;
  font-size: inherit;
  
  @include mediaSmUp {
    padding-right: 1em;
  }

  &:before {
    display: none;

    @include mediaSmUp {
      display: inherit;
    }
  }

  &--fixed-height {
    height: 4rem;
  }

  &--shop {
    border: 2px $color-medium solid;
    
    @include mediaMdUp {
      min-width: 10em;
    }

    &:before {
      content: " ";
      background: url("../img/icon-shop-cart.png") no-repeat center/contain;
      filter: saturate(0);
      height: 2em;
      width: 2em;
      margin: 0 1em;
    }
  }

  &--search {
    color: $color-primary;
    background: $color-alt;

    &:before {
      content: " ";
      background: url("../img/icon-magnifier.png") no-repeat center/contain;
      filter: saturate(0) invert(1);
      height: 1em;
      width: 1em;
      margin: 0 1em;
      flex-shrink: 0;
    }
  }

  &--msg {
    color: $color-primary;
    background: $color-additional;

    &:before {
      content: " ";
      background: url("../img/icon-msg.png") no-repeat center/contain;
      transform: rotate(90deg);
      height: 1em;
      width: 1em;
      margin: 0 1em;
    }
  }

  &--how {
    color: $color-primary;
    background: $color-additional;

    &:before {
      content: " ";
      background: url("../img/icon-mouse.png") no-repeat center/contain;
      transform: rotate(90deg);
      height: 1em;
      width: 1em;
      margin: 0 1em;
    }
  }

  &--numbered {
    &:after {
      content: "6";
      background: $color-alt;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      margin-left: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // General link button without special icon
  &--link {
    color: $color-primary;
    background: $color-alt;
    padding: 0 1em;

    @include mediaMdUp {
      padding: 0 2em;
    }
  }

  &--simple {
    color: inherit;
    border: 2px $color-medium solid;
    padding: 0 1em;

    @include mediaMdUp {
      padding: 0 2em;
    }
  }
}
