// Hero image with reward search and basic links
.hero {
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__content {
    color: $color-primary;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4rem 4rem 6rem;
  }

  &__heading {
    font-size: 2.6875rem; /* 43px */
  }

  &__subheading {
    font-size: 2.0625rem; /* 33px */
  }
}
