.main-footer {
  background-color: $color-dark;
  color: $color-primary;
  padding: 2rem 0;
  display: none;

  @include mediaTiUp {
    display: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__section-title {
    font-weight: bold;
    min-height: 4rem;
    display: flex;
    align-items: center;
  }

  &__section-list {
    display: grid;
    grid-template-rows: repeat(6, minmax(2rem, max-content));
    grid-auto-flow: column;
    row-gap: 0.2rem; 
  }
  
  &__item {
    display: flex;
    align-items: flex-start;
    padding-right: 0.25em;

    @include mediaMdUp {
      padding-right: 0.5em;
    }
    @include mediaLgUp {
      padding-right: 1em;
    }
    @include mediaHgUp {
      padding-right: 2em;
    }
    
    &:before {
      content: "";
      background: url("../img/arrow-footer.png") no-repeat left center/contain;
      flex: 0 0 5px;
      width: 5px;
      min-width: 5px;
      max-width: 5px;
      height: 7.5px;
      margin-top: 8px-3.725px;
      margin-right: 8px;
    }
  }

  &__btn {
    grid-row: -1 / -3;
  }
}
