// Main menu (stripe)
.main-navbar {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;

  @include mediaHgUp {
    justify-content: flex-start;
  }

  &__link {
    padding: 0 2em;
    display: flex;
    align-items: center;
    transition: background-color $time-slow ease-in-out;
    &:hover {
      background-color: $color-alt-hover;
    }
    &--dropdown:after {
      content: "";
      background: url("../img/arrow-nav.png") no-repeat center center/contain;
      height: 6px;
      width: 10px;
      margin-left: 0.5em;
    }
    &--icon {
      padding: 0;
    }
  }

  &__icon {
    height: 1em;
    width: 1em;
    flex-shrink: 0;
    background: url("../img/icon-home.png") no-repeat right/contain;
  }
}