// Main menu (stripe)
.main-navbar {
  background-color: $color-alt;
  color: $color-primary;
  border-bottom: 2px solid $color-alt-darker;
  position: relative;

  &__inner {
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
  
    @include mediaHgUp {
      justify-content: flex-start;
    }
  }

  &__item {
    display: flex;
    align-items: stretch;
    transition: background-color $time-slow ease-in-out;
    
    &:hover {
      background-color: $color-alt-hover;
    }
  }
  
  &__link {
    padding: 0 2em;
    display: flex;
    align-items: center;

    &--icon {
      padding: 0;
    }

    &--dropdown {
      padding-right: 1em;
      &:after {
        content: "";
        background: url("../img/arrow-nav.png") no-repeat center center/contain;
        height: 6px;
        width: 10px;
        margin-left: 0.5em;
      }
    }
  }

  &__img {
    height: 1em;
    width: 1em;
    flex-shrink: 0;
    background: url("../img/icon-home.png") no-repeat right/contain;
  }
}