// Main menu (stripe)
.main-navbar {
  background-color: $color-alt;
  color: $color-primary;
  border-bottom: 2px solid $color-alt-darker;
  position: relative;
  display: none;

  @include mediaTiUp {
    display: inherit;
  }

  &__inner {
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    
    @include mediaMdUp {
      height: 3rem;
    }
    @include mediaLgUp {
      height: 4rem;
    }
    @include mediaHgUp {
      justify-content: flex-start;
    }
    transition: height $time-slow ease-in;
  }

  &__item {
    display: flex;
    align-items: stretch;
    transition: background-color $time-slow ease-in-out;
    
    &:hover {
      background-color: $color-alt-hover;
    }
  }
  
  &__link {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    font-size: 75%;

    @include mediaMdUp {
      padding: 0 1rem;
      font-size: 87.5%;
    }
    @include mediaLgUp {
      padding: 0 2rem;
      font-size: 100%;
    }
    transition: font-size $time-slow ease-in;

    &--icon {
      padding: 0;
    }

    &--dropdown {
      padding-right: 1em;
      &:after {
        content: "";
        background: url("../img/arrow-nav.png") no-repeat center center/contain;
        height: 6px;
        width: 10px;
        margin-left: 0.5em;
      }
    }
  }

  &__img {
    height: 1em;
    width: 1em;
    flex-shrink: 0;
    background: url("../img/icon-home.png") no-repeat right/contain;
  }
}