.main-footer {
  background-color: $color-dark;
  color: $color-primary;
  padding: 0.5rem 0;
  
  @include mediaTiUp {
    padding: 2rem 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mediaTiUp {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__section {    
    padding: 0.25rem 0 0.25rem 0.25rem;
    font-size: 100%;

    @include mediaTiUp {
      font-size: 75%;
    }
    @include mediaMdUp {
      font-size: 87.5%;
    }
    @include mediaLgUp {
      font-size: 100%;
    }
    transition: font-size $time-slow ease-in;
  }

  &__section-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    
    @include mediaTiUp {
      min-height: 4rem;
    }
  }

  &__section-list {
    display: flex;
    flex-wrap: wrap;

    @include mediaTiUp {
      display: grid;
      grid-template-rows: repeat(6, minmax(2em, max-content));
      grid-auto-flow: column;
      row-gap: 0.2rem; 
    }
    transition: grid-template-rows $time-slow ease-in;
  }
  
  &__item {
    display: flex;
    align-items: flex-start;
    padding-right: 0.25em;

    @include mediaMdUp {
      padding-right: 0.5em;
    }
    @include mediaLgUp {
      padding-right: 1em;
    }
    @include mediaHgUp {
      padding-right: 2em;
    }
    
    &:before {
      content: "";
      background: url("../img/arrow-footer.png") no-repeat left center/contain;
      flex: 0 0 5px;
      width: 5px;
      min-width: 5px;
      max-width: 5px;
      height: 7.5px;
      margin-top: 8px-3.725px;
      margin-right: 8px;
    }
  }

  &__btn {
    display: none;
    @include mediaTiUp {
      display: initial;
      grid-row: -1 / -3;
    }
  }
}
