.profile-card {
  border: 2px $color-medium solid;
  border-radius: 3px;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__title {
    color: $color-alt;
    width: 6rem;
    text-align: left;
  }
  &__balance {
    color: $color-alt;
    font-size: 2.75rem; /* 44px */
    padding-left: 1rem;
    font-weight: bold;
    text-align: right;
  }
  &__exp-date {
    position: absolute;
    text-align: right;
    width: 100%;
    transform: translateY(2.5rem) translateX(-4rem);
  }
  &__img {
    position: absolute;
    height: 7rem;
    bottom: 0;
    right: 2rem;
    > * {
      height: 100%;
      // object-fit: contain;
    }
  }
}
