.search-field {
  width: 35rem;
  margin: 1.25em 2em 3em;

  @media (min-width: $breakpoint-large) {
    width: 40rem;
  }
  @media (min-width: $breakpoint-huge) {
    width: 48rem;
  }

  &__input {
    float: left;
    width: 75%;
    height: 4rem;
    box-shadow: 0px 2px 0px #000;
    border-radius: 3px 0 0 3px;
    padding: 1.5em;
    &::-webkit-input-placeholder {
      color: #ccc;
      font-style: italic;
    }
    &::-ms-input-placeholder {
      color: #ccc;
      font-style: italic;
    }
    &::-moz-placeholder {
      color: #ccc;
      font-style: italic;
    }
    &:-moz-placeholder {
      color: #ccc;
      font-style: italic;
    }
    // it does not work without separate selectors
  }

  &__btn {
    float: right;
    width: 25%;
    height: 4rem;
    box-shadow: 0px 2px 0px $color-alt-darker;
    border-radius: 0 3px 3px 0;
  }

  &__options {
    float: left;
    margin: 1em 0;
  }
  
  &__option {
    padding-right: 2em;
  }
}
