.secondary-navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 66px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms, visibility 0ms 300ms;
  background-color: $color-primary;
  border-bottom: 1px solid $color-medium;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__section {
    padding: 1rem 0 2rem;
    border-right: 1px solid $color-medium;

    &:last-child {
      border-right: none;
    }
  }

  &__section-title {
    color: $color-alt;
    min-height: 4rem;
    display: flex;
    align-items: center;
  }
  
  &__section-list {
    display: grid;
    grid-template-rows: repeat(4, minmax(2rem, max-content));
    grid-auto-flow: column;
    row-gap: 0.2rem;
  }

  &__item {
    color: $color-additional;
    display: flex;
    align-items: flex-start;
    padding-right: 0.25em;

    &:before {
      content: "";
      background: url("../img/arrow-carousel-right.png") no-repeat left center/contain;
      flex: 0 0 5px;
      width: 5px;
      min-width: 5px;
      max-width: 5px;
      height: 7.5px;
      margin-top: 8px-3.725px;
      margin-right: 8px;
    }
    @include mediaMdUp {
      padding-right: 0.5em;
    }
    @include mediaLgUp {
      padding-right: 1em;
    }
    @include mediaHgUp {
      padding-right: 2em;
    }
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: visibility 0ms, opacity 300ms, transform 300ms;
  }
}
