.user-goto-profile {
   color: $color-alt;
   &:before {
      content: "+";
      display: inline-flex;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      border: 2px $color-alt solid;
      align-items: center;
      justify-content: center;
      margin-right: 1em;
   }
}