// Helpers
.h-fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}

.h-bg-primary {
  background: $color-primary;
}

.h-bg-alt {
  background: $color-alt;
  color: $color-primary;
  box-shadow: inset 0px -2px 0px $color-alt-darker;
}

.h-bg-light {
  background: $color-light;
}

.h-bg-medium {
  background: $color-medium;
}

.h-bg-dark {
  background-color: $color-dark;
  color: $color-primary;
}
