// Helpers
// Fixed position, useful for header
.h-fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}

// Backgrounds
.h-bg-prim {
  background: $color-primary;
}

.h-bg-alt {
  background: $color-alt;
}

.h-bg-light {
  background: $color-light;
}

.h-bg-medium {
  background: $color-medium;
}

.h-bg-dark {
  background-color: $color-dark;
}

// Text colors
.h-col-prim {
  color: $color-primary;
}

.h-col-add {
  color: $color-additional;
}

// Shadows
.h-sh-alt {
  box-shadow: inset 0px -2px 0px $color-alt-darker;
}

.h-sh-med-r {
  box-shadow: inset -1px 0px 0px $color-medium;
}

.h-sh-med-b {
  box-shadow: inset 0px -1px 0px $color-medium;
}

// Alternate fonts
.h-font-alt {
  font-family: $font-alt;
}
