$font-primary:       "Museo Sans", "Raleway", Arial, Helvetica, sans-serif;
$font-alt:           "Gloria Hallelujah";

$color-primary:      #ffffff;
$color-alt:          #d20025;
$color-alt-lighter:  #f6ccd3;
$color-alt-hover:    #bf0022;
$color-alt-darker:   #9b011c;
$color-light:        #eeeeee;
$color-medium:       #dcdcdc;
$color-dark:         #171b27;
$color-additional:   #11204c;

$breakpoints: (
    "small":    52rem,
    "medium":   58rem,
    "large":    67rem,
    "huge":     82rem
);

$time-quick:    0.3s;
$time-slow:     0.5s;

$indentValues: (4, 8, 16, 24, 32, 64);