// All wrappers basic grid settings
.wrapper {
  display: grid;
  margin: 2rem 0;
  justify-content: space-between;

  // Big Btn cards, 3 cols grid
  &--hero {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  // Balance cards, 3 cols grid
  &--profile {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  // Options cards carousel, 4 cols grid
  &--carousel {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  // Categories, fixed size tiles, grid flexible
  &--categories {
    grid-template-columns: repeat(auto-fit, 10rem);
    gap: 2.5rem 1rem;
  }
}
