.contact-form {
   margin: 1.5rem 0 1rem;

   &__legend {
      margin: 1.5em 0;
   }

   &__line {
      margin: 0.5em 0 0.75em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      @include mediaMdUp {
         margin: 0.5em 0;
         padding-left: 0.75em;
         flex-direction: row;
         align-items: flex-start;
      }
   }

   &__line-title {

      @include mediaMdUp {
         line-height: 3rem;
         flex-basis: 150px;
         flex-shrink: 0;
      }

      &--btn {
         display: none;
      }
   }

  	&__input {
			height: 3rem;
			border: $line-thinner solid $color-medium;
			border-radius: 3px;
			background-color: $color-primary;
      &::-webkit-input-placeholder {
				color: #9e9e9e;
      }
      &::-ms-input-placeholder {
        color: #9e9e9e;
			}
			&::-moz-placeholder {
        color: #9e9e9e;
      }
      &:-moz-placeholder {
				color: #9e9e9e;
      }
      // it does not work without separate selectors
      margin: 0.25rem 0;

      @include mediaMdUp {
				margin: 0;
				flex-basis: 100%;
				max-width: 26rem;
      }

      &--box {
        min-height: 13rem;
			}

			&--btn {
				padding: 0;
				border: none;
				background-color: inherit;

				@include mediaMdUp {
					margin-left: auto;
					flex-basis: 7.5rem;
				}
			}
   	}

  &__line-option {
		flex-grow: 1;

		&--coloured {
			color: $color-alt;
		}

		&--underlined {
			text-decoration: underline;
		}

		&--no-grow {
			flex-grow: 0;
		}

		@include mediaMdUp {
				margin-left: 1em;
				flex-basis: 3.5rem;
				height: 3rem;
				flex-shrink: 0;
				display: flex;
				align-items: center;
		}
   }
}