.data-table {
	width: 100%;
	clear: both;
	overflow: auto;

	@include mediaMdUp {
		max-width: 25%
	}

	&__row {
		line-height: 2rem;
		width: 100%;
	}

	&__cell {
		width: 50%;
		float: left;
		// float of both to avoid small gap between span elements

		&--bold {
			font-weight: bold;
		}
	}
}