.search-field {
  width: 20rem;
  margin: 0.5em 0;
  
  @include mediaTiUp {
    width: 60vw;
    margin: 1.25em 2em;
  }
  @include mediaHgUp {
    width: 48rem;
    margin: 1.25em 2em 3em;
  }

  &__input {
    float: left;
    width: 75%;
    height: 4rem;
    box-shadow: 0px $line-thin 0px #000;
    border-radius: 3px 0 0 3px;
    padding: 1.5em;
    &::-webkit-input-placeholder {
      color: #ccc;
      font-style: italic;
    }
    &::-ms-input-placeholder {
      color: #ccc;
      font-style: italic;
    }
    &::-moz-placeholder {
      color: #ccc;
      font-style: italic;
    }
    &:-moz-placeholder {
      color: #ccc;
      font-style: italic;
    }
    // it does not work without separate selectors
  }

  &__btn {
    float: right;
    width: 25%;
    height: 4rem;
    box-shadow: 0px $line-thin
     0px $color-alt-darker;
    border-radius: 0 3px 3px 0;
  }

  &__options {
    float: left;
    margin: 1em 0;
    display: none;
  
    @include mediaTiUp {
      display: inherit;
    }
  }
  
  &__option {
    padding-right: 2em;
  }
}
