.tbc-new {
  width: 100%;
  padding: 2.5rem 3.5rem;
  overflow: auto;

  &--no-side-padding {
    padding-left: 0;
    padding-right: 0;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    @include mediaMdUp {
      width: 55%;
    }
    
    @include mediaLgUp {
      float: left;
      width: 45%;
    }

    &--full {
      @include mediaMdUp {
        width: 100%;
      }
    }
  }

  &__table-heading {
    display: none;

    @include mediaTiUp {
      display: table-row;
      height: 1.5rem;
    }
    
    &--underlined {
      height: 4rem;
      border-bottom: $line-thin solid $color-light;
    }
  }
  
  &__table-row {
    display: block;
    margin: 1rem 0;
    
    @include mediaTiUp {
      height: 3.5rem;
      display: table-row;
      margin: 0;
    }

    &--underlined {
      border-bottom: $line-thin solid $color-light;
      &:last-of-type {
        border-bottom: none;
      }
      @include mediaTiUp {
        height: 4rem;
        border-bottom: $line-thinner solid $color-light;
      }
    }
  }
  
  &__table-row-th {
    font-weight: 400;
    text-align: left;

    &--count {
      text-align: right;
    }

    &--option {
      visibility: hidden;
    }
  }

  &__table-row-count {
    text-align: right;
  }

  &__table-row-input {
    height: 100%;
    width: 100%;
    border: $line-thinner solid $color-alt;
    border-radius: 3px;
    font-size: 1rem;
    padding: 1em;
    background-color: $color-primary;
    &::-webkit-input-placeholder {
      color: $color-medium;
      font-style: italic;
    }
    &::-ms-input-placeholder {
      color: $color-medium;
      font-style: italic;
    }
    &::-moz-placeholder {
      color: $color-medium;
      font-style: italic;
    }
    &:-moz-placeholder {
      color: $color-medium;
      font-style: italic;
    }
    // it does not work without separate selectors
    float: right;
    
    &--float-left {
      float: left;
    }
    
    &--no-change {
      background-color: inherit;
      border: none;
      padding: 0;
    }
  }

  &__table-row-value {
		word-break: break-all;
    display: block;
    margin: 0.25em 0;

		&:before {
      display: inline-block;
      content: attr(data-th) ": ";
      color: $color-dark;
      width: 6rem;
    }
    
    @include mediaTiUp {
      display: table-cell;
      margin: 0;
      &:before {
        content: none;
      }
    }

    &--coloured {
      color: $color-alt;
    }
    &--warn {
      color: $color-warning;
    }
    &--info {
      color: $color-positive;
    }
  }
  
  &__btn {
    margin-top: 0.5rem;
    text-align: center;
    
    @include mediaMdUp {
      float: left;
      text-align: initial;
    }
    
    @include mediaLgUp {
      margin-top: 1.5rem;
      margin-left: 0.5rem;
    }

    &--float-right {
      @include mediaLgUp {
        float: right;
      }
    }
  }

  &__list-item {
    margin: 1.5em 0;
  }
}