html,
body {
	font-family: $fontPrimary;
	margin: 0;
	padding: 0;
}

html {
	font-size: $baseTextSize;
}

body {
	font-size: 1rem;
	line-height: 1.5rem;
}

h1,
.h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: $fwBold;
}