.container {
  max-width: map-get($breakpoints, "huge");
  margin: 0 auto;
  padding: 0 1rem;

  &--no-padding {
    padding: 0;
    @include mediaMdUp {
      padding: 0 1rem;
    }
  }

  &--floated-childs {
    clear: both;
    overflow: auto;
	}


  &__content {
		margin: 2.75rem 0 2rem;
    @include mediaMdUp {
			width: 50%;
      float: left;
    }
  }

  &__pane {
    margin: 2.75rem 0 2rem;
    @include mediaMdUp {
      width: 50%;
      float: right;
      text-align: right;
    }
  }

  &__pane-img {
		height: 18rem;

    &--big {
			height: 24rem;
    }
  }

  &__center-column {
		margin: 2rem 0;
    max-width: map-get($breakpoints, "small");
    @include mediaMdUp {
			padding: 0 1.25rem;
			margin: 4rem auto 2rem;
    }
	}

	&--flex {
		display: flex;
		flex-direction: column;

		@include mediaMdUp {
			flex-direction: row;
			justify-content: stretch;
		}
	}

	&__menu {
		margin: 1.5rem 1.5rem 1.5rem 0;
		@include mediaMdUp {
			width: 16rem;
			flex-shrink: 0;
		}
	}

	&__menu-img {
		position: relative;
		border: $line-thinner solid $color-medium;
		border-radius: 4px;
		width: 100%;
		padding-top: 25%;
		@include mediaTiUp {
			padding-top: 20%;
		}
		@include mediaSmUp {
			padding-top: 15%;
		}
		@include mediaMdUp {
			padding-top: 100%;
		}

		> div {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0.5em;
		}
	}

	&__bulk {
		margin: 1.5rem 0;
		flex-basis: 100%;
	}
}
