.exc-rewards-mod {
  &__selector {
    min-width: 60%;
    height: 2.75rem;
    margin: 1.25rem 0;
    padding-left: 1.25rem;
    padding-right: 1rem;
    border-radius: 3px;
    border: $line-thinner solid $color-alt;
    background-image: url("../img/arrow-down-red.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px 6px;
    background-origin: content-box;
  }

  &__employee-selected {
    display: flex;
    align-items: flex-end;
    padding-top: 1.5rem;
    &:before {
      content: "";
      background: url("../img/icon-trash-bin.png") no-repeat center/contain;
      height: 1.5em;
      width: 1.5em;
      margin-right: 2em;
    }
  }

  &__form {
    margin: 1rem 0;
    @include mediaMdUp {
      margin: 1.5rem 0 3.5rem;
    }
  }
}